.container {
  margin-top: 100px;
  padding: 10px;
  border-radius: 10px;
  background-color: whitesmoke;
  width: 700px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center
}

.form-control {
  padding-left: 5px;
  float: left;
}
#tasks {
  padding-top: 10px;
}


.input-checkbox {
  width: 20px;
}